@font-face {
    font-family: yekan;
    src: url('fonts/Yekan.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: roya;
    src: url('fonts/RoyaB.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: roya;
    src: url('fonts/RoyaR.woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: yekan;
    direction: rtl;
    background-color: #eee;
}

input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

#topmenu {
    width: 100%;
    height: 54px;
    position: fixed;
    background-color: black;
    font-family: roya;
    z-index: 1;

}

#topmenu ul {
    position: absolute;
    max-width: 1280px;
    width: 100%;
    top: 100%;
    background-color: black;
    border-top: 1px solid white;
    font-size: 20px;
    line-height: 250%;
    display: none;
}

#topmenu a {
    color: white;
    display: block;
    border-bottom: 1px solid gray;
    padding-right: 30px;
    transition: 0.4s;
}

#topmenu a:hover {
    background-color: rgb(45, 187, 140);
    color: #222;
    border-radius: 50px 5px;
}

#button1 {
    position: fixed;
    border: 1px solid white;
    border-radius: 5px;
    z-index: 2;
    cursor: pointer;
    left: 20px;
    top: 10px;
}

#button2 {
    position: fixed;
    border: 1px solid white;
    border-radius: 5px;
    z-index: 2;
    cursor: pointer;
    right: 20px;
    top: 10px;
}

#header {
    padding-top: 54px;
    font-family: roya;
    background-color: #347;
}

#logo {
    display: none;
}

#search {
    text-align: center;
    color: white;
}

#search h1 {
    margin-top: 15px;
    font-size: 40px;
}

#search input[type="search"] {
    max-width: 350px;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 18px;
}

#search input[type="submit"] {
    width: 80px;
    border: none;
    background-color: #3a3;
    color: #eee;
    height: 45px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

#search input[type="submit"]:hover {
    color: white;
    background-color: #4a5;
}

#cats {
    position: fixed;
    top: 54px;
    bottom: 0;
    line-height: 270%;
    width: 300px;
    right: -300px;
    background-color: white;
    overflow: auto;
    z-index: 1;
    transition: 0.3s;
    box-shadow: 0 0 3px black;
}

#cats a {
    display: block;
    color: #333;
    padding: 0 15px;
    border-bottom: 1px solid #bcd;
}

#cats a:hover {
    background-color: #bcd;
}

#cats .submenu a {
    padding-right: 30px;
    font-size: 14px;
}

#cats .submenu .submenu a {
    padding-right: 45px;
}

#cats .plus {
    float: left;
    font-size: 1.2rem;
    padding: 0 15px;
}

#cats .submenu {
    background-color: #f7f7f7;
    display: none;
}

#cats .submenu .submenu {
    background-color: #eee;
}

#content {
    margin-top: 15px;
}

#content .group {
    background-color: white;
    box-shadow: 0 1px 2px #aaa;
    margin-bottom: 30px;
}

#content .group h2 {
    text-align: center;
    background-color: #f4f6f8;
    line-height: 240%;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    font-weight: normal;
}

#content article {
    margin: 15px auto;
    text-align: center;
    max-width: 340px;
    box-shadow: 0 0 0 1px #ccc;

}

#content article:hover {
    box-shadow: 0 3px 10px 2px #ccc;

}

#content .image {
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #ccc;
}

#content .imagelabel {
    background-color: red;
    color: white;
    width: 150px;
    position: absolute;
    font-size: 18px;
    opacity: 0.8;
    top: 15px;
    left: -45px;
    transform: rotate(-45deg);
}

#content .image img {
    width: 100%;
    display: block;
    transition: 0.4s;
}

#content article:hover .image img {
    transform: scale(1.2);
}

#content article h3 {
    color: black;
    text-align: justify;
    margin: 10px 8px 0 8px;
    font-weight: normal;
    font-size: 16px;
    height: 70px;
    overflow: hidden;
}

#content .rate {
    font-size: 14px;
    margin: 10px;
    text-align: right;
    color: black;
}

#content .rate span:first-child {
    background: #49e;
    padding: 3px 4px 1px 4px;
    border-radius: 3px;
    margin-left: 8px;
    color: white;
}

#content .star {
    height: 20px;
    width: 20px;
    vertical-align: -4px;
}

#content .price {
    font-size: 20px;
    color: #e22;
    margin: 10px;
}

#content .buy {
    display: block;
    background-color: #49F;
    color: #333;
    font-size: 20px;
    line-height: 200%;
    transition: 0.2s;
}

#content .buy:hover {
    background-color: #24a;
    color: white;
}

#sidebar {
    margin-top: 15px;
}

#sidebar .group {
    background-color: white;
    box-shadow: 0 1px 2px #ccc;
    margin-bottom: 30px;
}

#sidebar .group h2 {
    text-align: center;
    background-color: #f7f9fa;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid #eee;
    line-height: 240%;

}

#sidebar article {
    text-align: center;
    margin: 15px auto;
    max-width: 340px;

    box-shadow: 0 0 0 1px #ddd;
    overflow: hidden;
    position: relative;
}

#sidebar article:hover {
    box-shadow: 0 3px 10px 2px #ccc;
}

#sidebar .imagelabel {
    background-color: red;
    color: white;
    width: 150px;
    opacity: 0.8;
    position: absolute;
    font-size: 18px;
    top: 25px;
    left: -35px;
    transform: rotate(-45deg);
}

#sidebar .discount {
    background-color: red;
    border-radius: 50%;
    width: 50px;
    height: 38px;
    position: absolute;
    color: white;
    opacity: 0.8;
    top: 15px;
    right: 15px;
    font-size: 18px;
    padding-top: 12px;

}

#sidebar article img {
    display: block;
    width: 100%;
}

#sidebar article .popup {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 110px;
    bottom: 0;
}

#sidebar article .comment {
    padding: 5;
    height: 65px;
    font-size: 16px;
    overflow: hidden;
    text-align: justify;
}

#sidebar article .price {
    color: yellow;
    font-size: 22px;
}

#contact{
    background-color: #667;
    color: white;
}
#contact ul{
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#contact li{
    padding: 10px 30px;
}
#contact .mail , #contact .phone{
    direction: ltr;
}
#contact .mail img ,#contact .phone img{
    vertical-align: bottom;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}





@media screen and (min-width:720px) {
    #logo {
        display: block;
        padding-top: 10px;
        text-align: center;
    }
}






@media screen and (min-width:960px) {

    #button1,
    #button2 {
        display: none;
    }

    #topmenu {
        border-bottom: 4px solid green;
        height: 50px;
        position: static;
    }

    #topmenu ul {
        display: flex !important;
        border: none;
        position: static;
    }

    #topmenu ul a {
        padding: 0 30px;
        margin: 0 2px;
        border: none;
        background-color: #444;
    }

    #topmenu li:nth-child(4) {
        margin-right: auto;
    }

    #header {
        padding-top: 0;
    }


    #cats {
        position: static;
        width: 100%;
        box-shadow: none;
        border-bottom: 1px solid #ccc;
        font-size: 15px;
        background-color: #f4f6f8;
    }

    #cats .plus {
        display: none;
    }

    #cats>ul {
        max-width: 1280px;
        margin: 0 auto;
    }

    #cats .item {
        float: right;
    }

    #cats a {
        border: none;
        padding: 0 20px;
    }

    #cats a:hover {
        background-color: transparent;
    }

    #cats li:hover {
        background-color: white;
    }

    #cats li:hover>ul {
        display: block !important;
    }

    #cats .submenu {
        width: 200px;

        position: absolute;
        border: 1px solid #ccc;
        border-top: none;
        line-height: 240%;
        background-color: #f3f3f3;
        z-index: 1;
    }

    #cats .subitem {
        position: relative;
        border-top: 1px solid #ccc;
    }

    #cats .submenu .submenu {
        top: -1px;
        background-color: #f7f7f7;
        right: 100%;
    }

    #cats .subitem a {
        padding: 0 15px !important;

    }

    #content article h3 {
        font-size: 14px;
    }

    #content .price {
        font-size: 20px;
        margin: 5px;
    }

    #sidebar article .comment {
        font-size: 15px;
    }

    #sidebar article .price {
        font-size: 20px;
    }

    #sidebar article .popup {
        bottom: -110px;
        transition: 0.4s;
    }

    #sidebar article:hover .popup {
        bottom: 0;

    }

    #sidebar article a:hover .imagelabel {
        display: none;
    }
    #sidebar article a:hover .discount{
        display: none;
    }

}

@media screen and (min-width:1140px) {}





@media screen and (min-width:1140px) {
    main>div {
        display: flex;
    }

    main>div>div {
        order: 2;
    }
}